<div class="container" style="margin-top: 70px; margin-bottom: 40px;">
  <div class="row">
    <div class="col-sm-12" style = "width: 50rem; margin: auto">

      <h3>Add a new property</h3>
      <form [formGroup] = "propertyForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="property_name">Property Name</label><br>
          <input type="text" name="property_name" id="property_name" placeholder="Name of the property"
            class="form-control" formControlName="property_name"
            [ngClass]="{ 'error' : isInvalid('property_name') }">
        </div><br>
        <div>
          <label for="user_id">User ID</label><br>
          <input type="text" name="user_id" id="user_id" placeholder="Name of the property"
            class="form-control" formControlName="user_id"
            [ngClass]="{ 'error' : isInvalid('user_id') }" ngDefaultControl [(ngModel)] = userid>
        </div><br>
        <div>
          <label for="thumbnail">Thumbnail</label><br>
          <input type="text" name="thumbnail" id="thumbnail" placeholder="Thumbnail image for property"
            class="form-control" formControlName="thumbnail">
        </div><br>
        <div class="form-group">
          <label for="property_notes">Property Notes</label><br>
          <textarea name="property_notes" id="property_notes"  rows="3" placeholder="Description of what the property is about"
            class="form-control" formControlName="property_notes">
          </textarea>
        </div><br>
        <button type="submit"
          class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>
